body {
  scroll-behavior: smooth !important;
  padding: 0 !important;
  margin: 0 !important;
}

.footer-links {
  margin: 0 1rem !important;
  padding: 0 !important;
}

.footer-links a {
  text-decoration: none !important;
  color: black !important;
}

.footer-links a:hover {
  color: blue !important;
  text-decoration: underline !important;
}
