<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show p-3 active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
    tabindex="0"
  >
    <h1>1</h1>
    Conduct online elections with complete confidence in their reliability.
    Polys is built by blockchain voting experts. Our first pilot took place in
    2016 and since then hundreds of organizations around the world have held
    elections with our help.
  </div>
  <div
    class="tab-pane fade p-3"
    id="nav-polls"
    role="tabpanel"
    aria-labelledby="nav-polls-tab"
    tabindex="0"
  >
    <h1>2</h1>
    Conduct online elections with complete confidence in their reliability.
    Polys is built by blockchain voting experts. Our first pilot took place in
    2016 and since then hundreds of organizations around the world have held
    elections with our help.
  </div>
  <div
    class="tab-pane fade p-3"
    id="nav-candidates"
    role="tabpanel"
    aria-labelledby="nav-candidates-tab"
    tabindex="0"
  >
    <h1>3</h1>
    Conduct online elections with complete confidence in their reliability.
    Polys is built by blockchain voting experts. Our first pilot took place in
    2016 and since then hundreds of organizations around the world have held
    elections with our help.
  </div>
  <div
    class="tab-pane fade p-3"
    id="nav-profile"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
    tabindex="0"
  >
    <h1>4</h1>
    Conduct online elections with complete confidence in their reliability.
    Polys is built by blockchain voting experts. Our first pilot took place in
    2016 and since then hundreds of organizations around the world have held
    elections with our help.
  </div>
</div>
